html, body {
	margin: 0;
}
/*------------------------- VARIABLES---------------------------*/
$fontMain: Poppins, Montserrat, sans-serif;
$fontSecondary: Montserrat, Poppins, sans-serif;

$colorMain: #27EEAB;
$colorMain2: darken($colorMain,15%);
$colorMain3: darken($colorMain,30%);
$colorSecondary: #f72863;
$colorSecondary2: darken($colorSecondary,15%);
$colorDark: #0c0b0c;
$colorDark2: #808080;
$padding: 16px;

$widthMain: 1200px;
$widthWide: 1400px;
/*------------------------- FONTS ---------------------------*/
h1, h2, h3, h4, h6, label, input[type="submit"], .navbar-wrapper li a {
	font-family: $fontMain;
}
p, input, #mc_embed_signup div.response, a {
	font-family: $fontSecondary
}
h1 {
	font-size: 22px;
	font-weight: 400;
	color: $colorDark;
	margin-bottom: 20px;
	line-height: 1.4;
}
h2 {
	font-size: 22px;
	font-weight: 500;
	color: $colorDark;
	margin-bottom: 20px;
}
h3 {
	font-size: 22px;
	font-weight: 500;
	color: $colorDark;
	margin-bottom: 20px;
}
html, body, p {
	font-size: 16px;
	font-weight: 300;
	color: $colorDark2;
	line-height: 1.6;
}
p:not(:last-of-type) {
	margin-bottom: 20px;
}
a {
	font-size: 16px;
	font-weight: 400;
	color: $colorMain2;
	line-height: 1.6;
	text-decoration: underline;
}
a:hover {
	color: $colorSecondary;
}
label {
	font-weight: 500;
	display: block;
	margin-bottom: 5px;
	color: $colorDark;
}
.white-text {
	h1,h2,h3,h4,h5,html,body,p,a,label {
		color: white;
	}
	p,a {
		font-weight: 500;
	}
	a:hover {
		opacity: .9;
	}
}
/*------------------------- CTAS & BUTTONS ---------------------------*/
input[type="submit"] {
	letter-spacing: .7px;
	color: white;
	text-transform: uppercase;
	background: $colorSecondary;
	height: 45px;
	padding: 0;
	border: none;
	cursor: pointer;
	-webkit-appearance: none;
}
input[type="submit"]:hover {
	background: $colorSecondary2;
}
.button {
	margin: auto;
	display: block;
	max-width: 400px;
	width: 100%;
	height: 45px;
	box-sizing: border-box;
	cursor: pointer;
	line-height: 45px;
	text-decoration: none;
}
.underline-hover:hover,.navbar-wrapper li a:hover {
	color: $colorMain3;
}
.underline-hover, .navbar-wrapper li a {
	position: relative;
	text-decoration: none;
}
.underline-hover::after, .navbar-wrapper li a::after {
	content: "";
    width: 100%;
    border-bottom: solid 1px;
    position: absolute;
    left: 0;
    bottom: -10px;
	opacity: 0;
	transition: .3s;
}
.underline-hover:hover::after, .navbar-wrapper li a:hover::after {
    bottom: 0px;
	opacity: 1;
}
/*------------------------- SECTION STYLING ---------------------------*/
section {
	box-sizing: border-box;
}
.container {
	width: 100%;
	max-width: $widthMain;
	margin: auto;
	box-sizing: border-box;
	padding-left: 50px;
	padding-right: 50px;
}
.container.wide {
	max-width: $widthWide;
}
.banner {
	padding: 50px 0;
}
.banner > .inner {
	margin: auto;
	max-width: 550px;
}
.notice {
	padding: 20px 20px 30px;
	box-sizing: border-box;
	background: $colorMain2;
	margin-top: 50px;
}
.notice h3 {
	margin-top: 0;
}
.partners {
	padding-top: 0;
	margin-top: -50px;
}
.partners img {
	margin-top: 40px;
	max-width: 250px;
}
.color-bg {
	background: $colorMain;
}
.full-height {
	min-height: 100vh;
}
.flex-wrapper {
	display: flex;
	flex-direction: column;
}
.flex-wrapper .item {
	width: 100%;
	box-sizing: border-box;
}
.overlap-top {
	margin-top: -200px;
}
/*------------------------- ALIGNMENT ---------------------------*/
.center-content {
	text-align: center;
	input, input[type="submit"], .mc4wp-form-fields, .mc4wp-response {
		margin: auto;
	}
}
.content-right {
	margin-left: auto;
}
.align-middle {
	align-items: center;
}
/*------------------------- HERO ---------------------------*/
.hero {
	padding-top: 50px;
}
/*------------------------- ÍMAGES + MOCKUP ---------------------------*/
.mockup {
	width: 100%;
	position: relative;
}
.mockup img{
	width: 100%;
}
.mockup .content{
	position: absolute;
    width: 68.8%;
    height: 68.6%;
    top: 10.7%;
    left: 14.5%;
    border-radius: 3px;
    overflow: hidden;
}
.mockup .content.video video {
	width: 100%;
}
.mockup.iphone-portrait .content.video video {
	width: 102.5%;
    margin-top: -5.7%;
}
.mockup.iphone-portrait {
	max-width: 400px;
	margin: auto;
}
/*------------------------- NAVBAR ---------------------------*/
.navbar-wrapper {
	position: absolute;
	width: 100%;
	left: 0;
	right: 0;
	top: 20px;
	box-sizing: border-box;
}
.navbar-wrapper.mobile-only + .page-wrapper > section:first-of-type {
	padding-top: 130px;
}
.navbar-wrapper a.logo {
	display: block;
	width: 100%;
	max-width: 100px;
	margin: auto;
}
.navbar-wrapper a.logo img {
	display: block;
	width: 100%
}
.navbar-wrapper.mobile-only a.logo img {
	width: auto;
	height: 90px;
	margin: auto;
}
.navbar-wrapper ul {
	margin: 0;
}
.navbar-wrapper li {
	list-style: none;
	display: block;
	float: left;
	padding-left: 50px;
}
.navbar-wrapper li a {
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
}
/*------------------------- SPLASH ---------------------------*/
.splash {
	background: white;
	margin: auto;
	max-width: 780px;
	padding: 15px $padding 50px;
	box-sizing: border-box;
}
.splash > .inner {
	max-width: 550px;
	margin: auto;
}
/*------------------------- FORMS & INPUT ---------------------------*/
input {
	font-size: 16px;
	font-weight: 400;
	color: $colorDark;
	padding-left: 10px;
	border-radius: 3px;
	border-color: $colorDark2;
	border-width: 1px;
	height: 40px;
	box-sizing: border-box;
	max-width: 360px;
}
input:hover {
	border-color: $colorDark;
}
input:not(:first-of-type):not(.inline-submit) {
	margin-top: 20px;
}
input, input[type="submit"], .mc4wp-form-fields {
	width: 100%;
}
.mc4wp-response {
	margin-top: 20px;
}
.mc4wp-response p {
	font-weight: 500;
}
.inline-submit {
	margin-top: 20px;
}
/*------------------------- SECTION: BETA SIGNUP ---------------------------*/
#beta-signup.hero {
	background: $colorMain;
}
#beta-signup .item:nth-child(2){
	position: relative;
	margin-top: 40px;
}
#beta-signup .item:nth-child(2)::before {
	content: "";
	display: block;
	position: absolute;
	top: -20px;
	left: -100vw;
	width: 300vw;
	height: 130%;
	background: white;
}
#beta-signup .item:nth-child(2) > .inner{
	position: relative;
}
.beta-signup-form-wrapper {
	margin: 40px auto 0;
	text-align: left;
}
/*------------------------- RESPONSIVE ---------------------------*/
@media(max-width:599px) {
	#beta-signup .item:nth-child(2) {
		h1,h3 {
			color: $colorDark;
		}
		p {
			color: $colorDark2;
			font-weight: 400;
		}
	}
}
@media(max-width:1023px) {
	.desktop-only {
		display: none!important;
	}
}

@media(min-width:600px) {
	
	/*------------------------- FONTS ---------------------------*/
	h1 {
		font-size: 45px;
		margin-bottom: 45px;
		margin-top: 0;
	}
	h2 {
		font-size: 36px;
		margin-bottom: 40px;
	}
	h3 {
		margin-bottom: 0;
		margin-top: 40px;
	}
	/*------------------------- SPLASH ---------------------------*/
	.splash {
		padding: 50px 50px 70px;
	}
	/*------------------------- SECTION STYLING ---------------------------*/
	section {
		padding: 50px 0;
	}
	.flex-wrapper {
		flex-direction: row;
	}
	.flex-wrapper.col3 > .item {
		width: 33.3333%;
	}
	.flex-wrapper.col2 > .item {
		width: 50%;
	}
	.bg-square {
	position: relative;
	}
	.bg-square::before {
		content: "";
		background: $colorMain;
		 width: 300vw;
		height: 65%;
		background: $colorMain;
		position: absolute;
		left: -100vw;
		top: 15%;
		z-index: -1;
	}
	/*------------------------- HERO ---------------------------*/
	.hero {
		padding-top: 120px;
	}
	/*------------------------- ÍMAGES + MOCKUP ---------------------------*/
	.content-right.mockup.iphone-portrait {
		margin-right: -55px;
	}
	/*------------------------- SECTION: BETA SIGNUP ---------------------------*/
	#beta-signup h1 {
		margin-top: -40px;
	}
	#beta-signup .item:nth-child(2)::before {
		content: none;
	}
	#beta-signup .item:nth-child(2){
		position: static;
		margin-top: 0;
		order: -1;
	}
	.beta-signup-form-wrapper {
		margin: 30px auto 40px;
	}
	/*------------------------- FORMS & INPUT ---------------------------*/
	input:not(:first-of-type):not(.inline-submit) {
		margin-top: 30px;
	}
	.mc4wp-form-fields {
		display: flex;
	}
	.inline-submit {
		width: 40px;
		height: 40px;
		border-radius: 50%;
		border: solid white 2px;
		margin-left: 15px;
		box-sizing: border-box;
		transition: .3s;
		overflow: hidden;
		margin-top: 0;
		position: relative;
	}
	.inline-submit input[type="submit"] {
		color: transparent;
		background: none;
	}
	.inline-submit input[type="submit"]:focus {
		outline: none;
	}
	.inline-submit::after {
		content: "";
		position: absolute;
		right: 0;
		top: 0;
		color: white;
		line-height: 40px;
		font-family: fontawesome;
		transition: .3s;
		margin-top: -1px;
		letter-spacing: 11px;
		z-index: -1;
	}
	.inline-submit:hover::after {
		right: -26px;
	}
}

@media(min-width:1024px) {
	/*------------------------- MOBILE ONLY ---------------------------*/
	.mobile-only {
		display: none!important;
	}
	/*------------------------- NAVBAR ---------------------------*/
	.navbar-wrapper {
		padding-top: 20px;
		padding-bottom: 10px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		top: 0;
	}
	.navbar-wrapper a.logo {
		max-width: 200px;
		margin: 0;
	}
	/*------------------------- SECTION: BETA SIGNUP ---------------------------*/
	#beta-signup.hero {
		background: none;
	}
}